<div class="dashboard-container">
  <mat-grid-list cols="2" rowHeight="150px" gutterSize="16">
    <mat-grid-tile *ngFor="let card of statCards" [colspan]="1" [rowspan]="1">
      <mat-card [attr.aria-label]="card.title + ' statistics'" tabindex="0">
        <mat-card-header>
          <mat-card-title>{{ card.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-icon [color]="card.color" class="card-icon">{{ card.icon }}</mat-icon>
          <span class="card-value">{{ card.value }}</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
